@model Yumms.Models.User
@{
    ViewBag.Title = "Профиль";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<head>
    <link rel="stylesheet" href="~/wwwroot/css/profile.css">
</head>
<body>
    <div class="profile-container">
        <h2>Профиль</h2>
        <form method="post" action="~/Profile/Edit">
            <div class="profile-details">
                <div class="profile-item">
                    <label>Имя:</label>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="profile-item">
                    <label>Пароль:</label>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить изменения" class="edit-profile-btn" />
                </div>
            </div>
        </form>
        <form method="post" action="~/Profile/Delete" class="form-group">
            @Html.ActionLink("Удалить аккаунт", "Delete", new { id = @Model.UserID })
        </form>
    </div>
</body>
